body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

i.link-color {
    color: $color__link;
    font-size: 1.15rem;
    margin-right: .3em;
}

@import "headings";

@import "copy";
