
.flex-column {
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center ;
    overflow: hidden;
}
.flex-row {
    display: flex;
    flex-flow: row;
    justify-content:space-between;
    align-items: center ;
    overflow: hidden;
}
